@font-face {
    font-family: 'DBHeaventRounded';
    src: url('./assets/fonts/DB%20HeaventRoundedv3.2.2.woff2') format('woff2'),
        url('./assets/fonts/DB%20HeaventRoundedv3.2.2.woff') format('woff'),
        url('./assets/fonts/DB%20HeaventRoundedv3.2.2.ttf') format('truetype'),
        url('./assets/fonts/DB%20HeaventRoundedv3.2.2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}