@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-800 font-sans;
}

@keyframes slowspin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.animate-spin-slow {
  animation: slowspin 20s linear infinite;
  transform-style: preserve-3d;
}